<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <link rel="icon" href="../images/knowMe.png">
    <script defer="" src="../static/js.js"></script>
    <title>Home Page</title>
</head>
<body>
    <logo id="small_logo"><a href="home_page.html"><img src="../images/knowMe.png" width="10%"></a></logo>
    <logo id="logo_sign"><a href="home_page.html"><img src="../images/mainLogo.png" width="40%"></a></logo>
    <form id="formSignup" action="../views/preferences.html" method="post" onsubmit="alert(' Congratulations! you have taken another step to choose your dish');">

      <label for="">Email</label><br>
      <input type="email" id="email" name="email" autocomplete="on" required><br>

      <label for="">Password</label><br>
      <input type="password" id="password" name="password" autocomplete="on" required><br>
      
      <button type="submit" class ="btn mybtn">Sign In</button>
      <br><br>
      <label for="">You don&apos;t have an account?</label><br>
      <li class="list-item"><a href="../views/Register.html"> Register</a></li><br>
  </form>

  

     
    

      <div class="footer">
        
          <p> 
            Follow us on social networks
          </p>
        <img class="icon2" src="../images/instagram.png">
        <img class="icon2" src="../images/twitter.png">
        <img class="icon2" src="../images/whatsapp.png">
        <img class="icon2" src="../images/mail.png">
        <img class="icon2" src="../images/facebook.png">
    </div>
    </footer>
    <section id="bottom">
      <table id="table"><a href="../images/table.png"><img src="../images/table.png" width="90%"></a></table>
    <div class="footer"><a href="../images/table.png"></a></div>
    </section>
</body>
</html>
    