<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <link rel="icon" href="../images/knowMe.png">
    <script defer="" src="../static/js.js"></script>
    <title>Preferences</title>
</head>
<body>
    <logo id="small_logo"><a href="home_page.html"><img src="../images/knowMe.png" width="10%"></a></logo>
    <logo id="logo_sign"><a href="../images/mainLogo.png"><img src="../images/mainLogo.png" width="40%"></a></logo>
    <div class="Main_1"><a href="../images/mainLogo.png"></a></div>
    <div class="header"><span>

        <h1>Choose</h1>

        <div class="ingridiants">
        <div class="row row1">
          <div class="col-lg-6">
            <!-- <div class="ingridiants"> -->
              <img class="ing-img" src="../images/vegan.png" alt="vegan">
              <p>Vegan</p>
            <!-- </div> -->
          </div>
          <div class="col-lg-6">
            <!-- <div class="ingridiants"> -->
              <img class="ing-img" src="../images/gluten-free.png" alt="gluten-free">
              <p>Gluten Free</p>
            <!-- </div> -->
          </div>
          </div>
            <div class="row">
                
          <div class="col-lg-6">
            <!-- <div class="ingridiants"> -->
              <img class="ing-img" src="../images/dairy-free.png" alt="dairy-free">
              <p>Dairy Free</p>
            <!-- </div> -->
          </div>

          <div class="col-lg-6">
            <!-- <div class="ingridiants"> -->
              <img class="ing-img" src="../images/sugar-free.png" alt="sugar-free">
              <p>Sugar Free</p>
            <!-- </div> -->
          </div>

        </div>
        </div>




        <script src="js.js"></script>    
</body>
</html>