<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <link rel="icon" href="../images/knowMe.png">
    <script defer="" src="../static/js.js"></script>
    <title>Register</title>
</head>
<body>
    <logo id="small_logo"><a href="home_page.html"><img src="../images/knowMe.png" width="10%"></a></logo>
  
    <logo id="logo_sign"><a href="home_page.html"><img src="../images/mainLogo.png" width="40%"></a></logo>
    <div class="header"><span>

       <form id="formSignup" action="URL" method="post" onsubmit="alert(' Congratulations! you have taken another step to chose your dish');">
        <label for="">First Name</label><br>
        <input type="text" id="firstName" name="firstName" autocomplete="on" required><br>
        <label for="">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" autocomplete="on" required><br>
        <label for="">Email</label><br>
        <input type="email" id="email" name="email" autocomplete="on" required><br>
        <label for="">Gender</label><br>
        <select name="gender">    
            <option value="male">Male</option>    
            <option value="female">Female</option>    
            <option value="other">Other</option>  
        </select><br>
        <label for="">Password</label><br>
        <input type="password" id="password" name="password" autocomplete="on" required><br>
        </select><br><br>
        <label for="">Alredy have an account?</label>
        <li class="list-item"><a href="../views/home_page.html"> Log in</a></li><br>
        <input type="checkbox" id="useLocation" name="useLocation" required> <label for="">You can use my location</label><br>
        
        <button type="submit" class ="btn mybtn">Create account</button>
        <p>

        </p>
    </form>

    
 
    
</body>
</html>